$tri_blue: #2aa4e9;
$tri_red: #e90a47;
$tri_pink: #e03997;
$tri_teal: #00b5ad;
$tri_orange: #f07222;
$tri_border_gray: #909090;
$tri_gray: #cfcfcf;
$tri_light_gray: #f8f8f8;


$red: #ED1553;
$gray: #545555;